%form{:action => "/", :method => "post"}
  %label{:for => "page_name"} Page Name
  %input{:type=> "text", :id =>  "page_name", :name => "name",:value=>@page.name}
  %br
  = partial :form
  %input{:type=>"submit", :value=>"Save"}
