%form{:action => "/", :method => "post"}
  %label{:for => "page_url"} Url
  %input{:type=> "text", :id =>  "page_url", :name => "url",:value=>@page.url}
  %br
  = partial :form
  %input{:type=>"submit", :value=>"Save"}
