%form{:action => "/"+@page.name+".html", :method => "post"}
  %input{:type => "hidden", :name => "_method", :value => "put"}
  = partial :form
  %input{:type => "submit", :value => "Update Page"}

%form{:action => "/"+@page.name+".html", :method => "post"}
  %input{:type => "hidden", :name => "_method", :value => "delete"}
  %input{:type => "submit", :value => "Delete Page"}